<div class="form-group answer-field-box">
  <%= f.label "Answer" %>
  <div class="col-md-12">
    <div class="col-md-8">
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="check-box-remove">
      <div class="col-md-3 space-top-remove">
        <%= f.check_box :correct %>
        <%= f.label t("questions.features.correct_option") %>
      </div>
      <div class="col-md-1 space-top-remove">
        <%= link_to_remove_fields t("questions.features.remove"), f %>
      </div>
    </div>
  </div>
</div>
