<%= form_for [current_user, @question] do |f| %>
  <%= render "shared/errors_messages", object: @question %>
  <%= f.label :content, class: "space-top" %>
  <%= f.text_area :content, class: "form-control" %>
  <%= f.label :subject, class: "space-top" %>
  <%= f.collection_select :subject_id, @subjects, :id, :name, {}, class: "form-control" %>
  <%= f.label :question_type, class: "space-top" %>
  <%= f.collection_select :question_type, Settings.exam.question_type, :first, :last, {}, class: "form-control" %>
  <div class="space-top">
    <%= f.fields_for :answers do |ff| %>
      <%= render "questions/answer_fields", f: ff %>
    <% end %>
    <%= link_to_add_fields t("questions.features.add_option"), f, :answers %>
  </div>
  <%= f.submit t("questions.features.suggest"), class: "btn btn-warning center-block space-top" %>
<% end %>
