 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><%= t "static_pages.home" %></a></li>
      <li><a href="#"><%= t "static_pages.exam" %></a></li>
      <li><a href="#"><%= t "static_pages.signup" %></a></li>
      <li><a href="#"><%= t "static_pages.signin" %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><%= t "static_pages.title" %></a></li>
    </ul>
  </div>
</nav>
