<%= form_for(object, url: mark_exam_path, method: :post) do |f| %>
  <ol>
    <%= f.fields_for :results do |ff| %>
      <li><%= ff.object.question.content %></li>
      <br/>
      <% if ff.object.question.multiple_choice? %>
        <%= ff.collection_check_boxes :option_ids, ff.object.question.options,
          :id, :content, {}, {disabled: true} do |ck| %>
            <%= ck.label(class: "check_box"){ck.check_box(class: "ck") + ck.text} %>
        <% end %>
        <% if ff.object.answers.count > 0 %>
          <% if Answer.not_correct(ff.object.id) > 0 %>
            <%= ff.hidden_field :correct, value: false %>
          <% else %>
            <%= ff.hidden_field :correct, value: true %>
          <% end %>
        <% else %>
          <%= ff.hidden_field :correct, value: false %>
        <% end %>
      <% else %>
        <%= ff.fields_for :answers do |fff| %>
          <% if ff.object.question.text? %>
            <%= fff.text_area :content, readonly: true, class: "form-control option_text" %>
            <%= ff.check_box :correct %> <%= t "admin.labels.check_correct" %><br/>
            <i><%= t "admin.labels.hint" %></i>
            <%= render partial: "answer_text",
              collection: ff.object.question.options, as: :option %>
          <% else %>
            <%= fff.collection_radio_buttons :option_id, ff.object.question.options,
              :id, :content, {}, {disabled: true} do |rb| %>
              <%= rb.label(class: "radio"){rb.radio_button + rb.text} %>
            <% end %>
            <%= ff.hidden_field :correct, value: fff.object.is_correct? %>
          <% end %>
        <% end %>
      <% end %>
      <br/>
    <% end %>
  </ol>
  <%= f.submit t("exam.buttons.submit"), class: "btn btn-primary btn-submit" %>
<% end %>
