<div class="row" id="question">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(object, url: create_question_path, method: "post") do |f| %>
      <%= render "shared/errors_messages", object: object %>
      <%= f.label :subject, class: "space-top" %>
      <%= f.collection_select :subject_id, @subjects, :id, :name, {}, class: "form-control" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :state, value: :accepted %>
      <%= f.label :content, class: "space-top" %>
      <%= f.text_area :content, class: "form-control" %>
      <%= f.label :question_type, class: "space-top" %>
      <%= f.collection_select :question_type, Settings.exam.question_type, :first, :last, {}, class: "form-control width-question-type"  %>
      <div class="space-top">
        <%= f.fields_for :options do |ff| %>
          <%= render "option_fields", f: ff %>
        <% end %>
        <div class="option-fields">
         <%= link_to_add_fields t("questions.features.add_option"), f, :options %>
        </div>
      </div>
      <%= f.submit  t("questions.features.add_question"), class: "btn btn-primary button space-top-submit" %>
    <% end %>
  </div>
</div>
