<div class="row" id="question">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(object, url: edit_question_path, method: "post") do |f| %>
      <%= render "shared/errors_messages", object: object %>
      <%= f.label :subject, class: "space-top" %>
      <%= f.collection_select :subject_id, Subject.all, :id, :name, {}, class: "form-control" %>
      <%= f.label :content, class: "space-top" %>
      <%= f.text_area :content, class: "form-control" %>
      <div class="col-md-12 col-config" >
        <div class="col-md-3 col-config">
          <%= f.label :active %>
        </div>
        <div class="col-md-9 col-config-box">
          <%= f.check_box :active %>
        </div>
      </div>
      <%= f.label :question_type, class: "space-top" %>
      <span class="question_type_text"><%= object.question_type.capitalize %></span>
      <div class="space-top">
        <%= f.fields_for :options do |ff| %>
          <%= render "questions/option_fields", f: ff %>
        <% end %>
        <div class="option-fields">
         <%= link_to_add_fields t("questions.features.add_option"), f, :options %>
        </div>
      </div>
      <%= f.submit t("questions.features.update_question"), class: "btn btn-primary button space-top-submit" %>
    <% end %>
  </div>
</div>
