<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
    <thead>
      <tr class="active">
        <td><%= t "questions.content" %></td>
        <td><%= t "questions.answer" %></td>
        <td><%= t "questions.correct" %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="<%= object.options.count + 1 %>"><%= object.content %></td>
        <%= render partial: "rails_admin/main/option", collection: object.options %>
      </tr>
    </tbody>
  </table>

  <% if object.rejected?  || object.waiting? %>
    <span>
      <%= link_to t("questions.reject_question"), request_question_path("question", object), method: "patch", class: "btn btn-danger pull-left" %>
    </span>
    <span>
      <%= link_to t("questions.confirm_question"), request_question_path("question", object), method: "post", class: "btn btn-primary pull-right" %>
    </span>
  <% end %>
</div>
