<%= form_for @exam do |f| %>
  <ol>
    <%= f.fields_for :results do |ff| %>
      <li><%= ff.object.question.content %></li>
      <br/>
      <% if ff.object.question.multiple_choice? %>
        <%= ff.collection_check_boxes :option_ids, ff.object.question.options,
          :id, :content, {}, {disabled: state} do |ck| %>
            <%= ck.label(class: "check_box"){ck.check_box(class: "ck") + ck.text} %>
        <% end %>
        <%= ff.object.result_status.html_safe %>
      <% else %>
        <%= ff.fields_for :answers do |fff| %>
          <% if ff.object.question.text? %>
            <%= fff.text_area :content, readonly: state, class: "form-control" %>
          <% else %>
            <%= fff.collection_radio_buttons :option_id, ff.object.question.options,
              :id, :content, {}, {disabled: state} do |rb| %>
                <%= rb.label(class: "radio"){rb.radio_button + rb.text} %>
            <% end %>
          <% end %>
          <%= fff.object.result.result_status.html_safe %>
        <% end %>
      <% end %>
      <br/>
    <% end %>
  </ol>
  <% if false == state %>
    <%= f.submit t("exam.buttons.save"), class: "btn btn-primary btn-submit submit-time-out" %>
    <%= f.submit t("exam.buttons.finish"),
      class: "btn btn-danger btn-submit pull-right", id: "btn-finish",
      data: { confirm: t("questions.labels.warning_finish_exam") } %>
  <% end %>
<% end %>
