<% exam.update_status_exam %>
<tr>
  <td><%= l exam.created_at, format: :default %></td>
  <td><%= exam.subject.name %></td>
  <td><%= exam.status %></td>
  <td><%= exam.subject.duration %></td>
  <td><%= exam.subject.number_of_question %></td>
  <td><%= exam.spent_time_format %></td>
  <td><%= exam.score_exam %></td>
  <td>
    <% if exam.start? %>
      <%= link_to t("exam.buttons.start"), exam, class: "btn btn-primary button" %>
    <% else %>
      <%= link_to t("exam.buttons.view"), exam, class: "btn btn-success button" %>
    <% end %>
  </td>
</tr>
