<% provide :title, t("exam.title") %>
<div class="row exam">
  <div class="col-md-10 col-md-offset-1">
    <%= render "exam_start_form" %>
    <hr>
    <h3><%= t "exam.title" %></h3>
    <%= render_pagination @exams %>
    <table class="table">
      <thead>
        <th class="created_date"><%= t "exam.header.created_date" %></th>
        <th class="subject"><%= t "exam.header.subject" %></th>
        <th class="status"><%= t "exam.header.status" %></th>
        <th class="duration"><%= t "exam.header.duration" %></th>
        <th class="question_number"><%= t "exam.header.question_number" %></th>
        <th class="spent_time"><%= t "exam.header.spent_time" %></th>
        <th class="score"><%= t "exam.header.score" %></th>
        <th class="action"></th>
      </thead>
      <%= render @exams %>
    </table>
    <%= render_pagination @exams %>
  </div>
</div>
