<% provide :title, @subject.name %>
<div class="row exam">
  <div class="col-md-8 col-md-offset-1">
    <div class="title">
      <%= t "exam.labels.exam_date" %>
      <%= l @exam.created_at, format: :short %></br>
      <% if @exam.checked? %>
        <%= t "exam.labels.exam_result" %>
        <%= @exam.score_exam %>
      <% end %>
      <center><b><h2><%= @subject.name %></h2></b></center>
      <hr>
      <%= hidden_field_tag :duration, @duration %>
    </div>
    <% if @exam.time_out? %>
      <%= render "exam_form", state: true %>
    <% else %>
      <%= render "exam_form", state: false %>
    <% end %>
  </div>
  <div class="col-md-2 col-md-offset-1 timer">
    <h4><%= t "exam.labels.time_remain" %></h4>
    <div id="clock"></div>
  </div>
</div>
